<div id="createFolderModal" class="modal" style="display: none">
  <div class="modal-content">
    <span class="createFolderModal close-button">&times;</span>
    <form action="/drive/folder/new" method="post">
      <% if(locals.folderId) { %>
        <input type="hidden" name="parentFolderId" value="<%= folderId %>" />
        <input type="hidden" name="previous_url" value="<%= previousUrl %>">
      <% } %>
      <label for="folder_name">New Folder Name:</label>
      <input
        type="text"
        name="folder_name"
        id="folder_name"
        placeholder="Untitled Folder"
        required
      />
      <button type="submit">Create Folder</button>
    </form>
  </div>
</div>

<button onclick="openCreateFolderModal()">Create New Folder</button>
