<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title><%= title %></title>
</head>
<body>
<header>
    <div class="flex nav-pos">
        <h4><a href="/">Elgoog Drive</a></h4>
        <div>
            <% if(locals.user) { %> 
                <a href="/logout">Logout</a>
            <% } else { %>
                <a href="/login">Login</a>
            <%  } %>
        </div>
    </div>
</header>