<%- include('partials/header.ejs') %>

<h1>Error Page</h1>
<%- include('partials/errors.ejs') %>

<% if(locals.savedUrl) { %>
  <a href="<%= savedUrl %>">Back</a>
<% } %>

<%- include('partials/footer.ejs') %>
