<%- include('partials/header.ejs') %>

<h1>Your Drive</h1>
<% if(locals.user) { %>
  <p>Hello, <%= user.firstName %></p>
  <a href="/drive/my-drive">Go to Your Drive</a>
<% } %> 

<form action="/drive" method="post" enctype="multipart/form-data">
  <label for="textInput">Test Text Input:</label>
  <input type="text" name="textInput" id="textInput"><br>

  <label for="uploaded_file">Upload your file:</label>
  <input type="file" name="uploaded_file" id="uploaded_file"><br>
  <button type="submit">Submit file</button>
</form>


<%- include('partials/footer.ejs') %>
