<%- include('partials/header.ejs') %>
<main class="parent-center-container">
  <div class="login-form simple-shadow">
    <h3>Login</h3>
    <form action="/login" method="POST">
        <label for="email">Email </label>
        <input type="email" name="email" id="email" required>

        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>

        <button type="submit">Login</button>
    </form>
  </div>
</main>
<%- include('partials/footer.ejs') %>